.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 80%;
}
.shopcategory-indexsort  {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.down-arrow {
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 40px;
}
.shopcategory-indexsort p span{
    font-weight: 600;
}
.shopcategory-products {
    margin: 20px 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 70px;
}
.shopcategory-loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    width: 230px;
    height: 59px;
    border-radius: 40px;
    background: #ededed;
    color: #787878;
}

