*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    background: #211C6A;
}
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    font-size: 30px;
    font-weight: 600;
    color:white;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    color: beige;
}
.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 17px;
    cursor: pointer;
}
.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    margin-top: 5px;
    border-radius: 10px;
    background: #ff4141;
}

.nav-cart-icon {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}
.nav-cart-icon button {
   width: 120px;
   height: 40px;
   outline: none;
   border: 1px solid #7a7a7a;
   color: #515151;
   border-radius: 50px;
   font-size: 15px;
   font-weight: 500;
   background: white;
   cursor: pointer;
}
.nav-cart-icon button:hover {
    background: #f3f3f3;
}
.cart-icon {
    font-size: 26px;
    color: white;
}
.nav-cart-count {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -40px;
    font-size: 10px;
    border-radius: 10px;
    background: #ff4141
    
    ;
    color: white;
}